*, *::before, *::after {
	box-sizing: border-box;
}


a {
	color: $c333;
	text-decoration: none;;
}

ul, li {
	list-style: none;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	.header-anchor {
		margin-left: -15px;
		margin-right: 5px;
		float: left;
		opacity: 0;
	}
	&:hover {
		.header-anchor {
			opacity: 1;
		}
	}
}